// Place all the styles related to the itineraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.itinerary{
	border-bottom: solid 1.5px #F76969;
	padding: 10px 0;
	font-family:'Cabin Condensed', sans-serif;
	font-size: 15px;
}

.itinerary p{
	margin: 10px 0;
} 

.itinerary:hover{
	background: #FAFAFA;
}

.itinerary .admin:hover{
	display: none;
}


.itinerary .admin:hover{
	display: inline;
}

